openapi: 3.1.0
info:
  title: Solutions
  version: '1.0'
x-cargoai-api-family: Route & Schedule / Quote & Book — Routes, Schedules and Rates
x-provenance:
  harvestedFrom: CargoAi CargoCONNECT developer portal (ReadMe) — per-operation oasDefinition embedded
    in each reference page
  fetchDate: '2026-07-30'
  httpStatus: 200
  sourceInfoTitle: Solutions
  sourceInfoVersion: '1.0'
  note: Operations reproduced verbatim from the provider-published OpenAPI 3.1 definition. No operation,
    path, parameter, schema or server was authored by API Evangelist.
  operations:
  - sourceURL: https://cargoai.readme.io/reference/routes-schedules-and-rates-endpoint-post
    httpStatus: 200
    operation: POST /search
servers:
- url: https://api.cargoai.co/solutions
security:
- sec0: []
components:
  securitySchemes:
    sec0:
      type: apiKey
      name: x-api-key
      in: header
paths:
  /search:
    post:
      summary: Routes, Schedules and Rates
      description: This document provides information about request body parameters and headers as well
        as example requests and responses for different search modes
      operationId: routes-schedules-and-rates-endpoint-post
      parameters:
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
      - name: x-api-name
        in: header
        description: Set it to "Schedules" for Route & Schedule
        schema:
          type: string
          default: Schedules
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - origin
              - destination
              - departureDate
              properties:
                origin:
                  type: string
                  description: Origin airport code (or a city code in Search by City Code)
                  default: CDG
                destination:
                  type: string
                  description: Destination airport code (or a city code in Search by City Code)
                  default: JFK
                departureDate:
                  type: string
                  description: Your earliest desired departure date
                  default: '2024-01-01'
                shipment:
                  type: object
                  description: Shipment details (required for Quote & Book)
                  required:
                  - pieces
                  - weight
                  - volume
                  properties:
                    pieces:
                      type: integer
                      description: Total number of pieces of your shipment
                      format: int32
                    weight:
                      type: number
                      description: Total gross weight of your shipment (kg)
                      format: float
                    volume:
                      type: number
                      description: Total volume of your shipment (cbm)
                      format: float
                    dimensions:
                      type: array
                      description: Detailed description of the piece groups of your shipment (fake dimensions
                        are calculated if not provided)
                      items:
                        properties:
                          pieces:
                            type: integer
                            description: number of piece of the piece group
                            default: 1
                            format: int32
                          length:
                            type: number
                            description: indicates length of piece group (cm)
                            default: 100
                            format: float
                          width:
                            type: number
                            description: indicates width of piece group (cm)
                            default: 100
                            format: float
                          height:
                            type: number
                            description: indicates height of piece group (cm)
                            default: 100
                            format: float
                          weight:
                            type: number
                            description: indicates piece group weight (per piece or total, based on weightType
                              field value) (kg)
                            default: 200
                            format: float
                          loadType:
                            type: string
                            description: indicates if the shipment information are totals only or with
                              dimensions breakdown
                            default: DIMENSIONS
                            enum:
                            - DIMENSIONS
                            - TOTAL
                            - BUP
                          weightType:
                            type: string
                            description: indicates if piece group weight is total or per piece
                            default: PER_ITEM
                            enum:
                            - PER_ITEM
                            - TOTAL
                          stackable:
                            type: boolean
                            description: indicates if shipment can be stack during loading in aircraft.
                              when no dimensions are provided, will be set true to maximize search results
                            default: true
                          tiltable:
                            type: boolean
                            description: indicates if shipment is turnable during loading in aircraft
                            default: false
                          toploadable:
                            type: boolean
                            description: indicates if shipment can be loaded on top during loading in
                              aircraft
                            default: false
                          volume:
                            type: number
                            description: volume of the piece group
                            format: float
                          uldType:
                            type: string
                            description: ULD type of the piece group (can be used in Direct booking) (required
                              if the SHC/the LoadType is "BUP")
                            enum:
                            - '"AKE"'
                            - '"LDP"'
                            - '"MDP"'
                        required:
                        - pieces
                        - length
                        - width
                        - height
                        - weight
                        - loadType
                        - weightType
                        type: object
                    chargeableWeight:
                      type: number
                      description: Total chargeable weight of your shipment (calculated if not provided)
                        (kg)
                      default: 200
                      format: float
                    measurementUnit:
                      type: string
                      description: Measurement Unit ("METRIC" or "IMPERIAL")
                      default: METRIC
                    product:
                      type: string
                      description: Product name
                      default: GCR
                    globalHS:
                      type: array
                      description: Global Harmonized System Codes
                      items:
                        type: string
                    europeanHS:
                      type: array
                      description: European Harmonized System Codes
                      items:
                        type: string
                    scrs:
                      type: array
                      description: Special Commodity Rate Codes
                      items:
                        type: string
                    specialHandlingCodes:
                      type: array
                      description: Special handling codes three letter codes to provide additionnal details
                        about shipment handling
                      items:
                        type: string
                user:
                  type: object
                  description: User details (required for Quote & Book)
                  properties:
                    email:
                      type: string
                      description: Freight Forwarder's email address (required if no IATA CASS provided)
                      default: tests@tests.com
                    iata:
                      type: string
                      description: Freight Forwarder's IATA code (required if no email provided)
                      default: '0000000'
                    cass:
                      type: string
                      description: Freight Forwarder's CASS code (required if no email provided)
                      default: '0000'
                    country:
                      type: string
                      description: Freight Forwarder's country code (required if no email provided)
                      default: FR
                    companyName:
                      type: string
                      description: Freight Forwarder's company name
                      default: Test Forwarder
                    lastName:
                      type: string
                      description: Freight Forwarder's last name
                      default: Test
                    firstName:
                      type: string
                      description: Freight Forwarder's first name
                      default: Forwarder
                timeout:
                  type: integer
                  description: Request timeout in seconds
                  default: 25
                  format: int32
                offset:
                  type: integer
                  description: Departure dates in the search result can be up to {offset} days in the
                    future (max value is 5)
                  default: 5
                  format: int32
                id:
                  type: string
                  description: Search Id to add to params before repeating request to get missing results
                filters:
                  type: object
                  description: Search filters to refine API results
                  properties:
                    withRateOnly:
                      type: boolean
                      description: filters results to return only flights with a rate
                      default: false
                    liveRequests:
                      type: boolean
                      description: filters results to include or exclude Airlines' APIs results
                      default: false
                    isOriginByCity:
                      type: boolean
                      description: indicates if the origin of your search is a city code or an airport
                        code (only true if isDestinationByCity is false)
                      default: false
                    isDestinationByCity:
                      type: boolean
                      description: indicates if the destination of your search is a city code or an airport
                        code (only true if isOriginByCity is false)
                      default: false
            examples:
              Quote & Book:
                value:
                  origin: CDG
                  destination: SIN
                  departureDate: '2025-11-09'
                  offset: 5
                  shipment:
                    product: GCR
                    pieces: 1
                    weight: 100
                    chargeableWeight: 166.67
                    volume: 1
                    dimensions:
                    - height: 100
                      length: 100
                      width: 100
                      weight: 100
                      pieces: 1
                      volume: 1
                      stackable: true
                      tiltable: false
                      topLoadable: false
                      weightType: PER_ITEM
                      loadType: DIMENSIONS
                    specialHandlingCodes:
                    - GCR
                    - XPS
                    measurementUnit: METRIC
                  user:
                    country: FR
                    cass: '0000'
                    iata: '0000000'
                    email: tests@tests.com
                  filters:
                    withRateOnly: true
                    liveRequests: true
                  timeout: 25
              'Quote & Book: Search by City Code':
                value:
                  origin: PAR
                  destination: SIN
                  departureDate: '2025-11-09'
                  offset: 5
                  shipment:
                    product: GCR
                    pieces: 1
                    weight: 100
                    chargeableWeight: 166.67
                    volume: 1
                    dimensions:
                    - height: 100
                      length: 100
                      width: 100
                      weight: 100
                      pieces: 1
                      volume: 1
                      stackable: true
                      tiltable: false
                      topLoadable: false
                      weightType: PER_ITEM
                      loadType: DIMENSIONS
                    specialHandlingCodes:
                    - GCR
                    - XPS
                    measurementUnit: METRIC
                  user:
                    country: FR
                    cass: '0000'
                    iata: '0000000'
                    email: tests@tests.com
                  filters:
                    withRateOnly: true
                    liveRequests: true
                    IsOriginByCity: true
                  timeout: 25
              Route & Schedule:
                value:
                  origin: CDG
                  destination: JFK
                  departureDate: '2025-11-09'
              'Route & Schedule: Search by City Code':
                value:
                  origin: PAR
                  destination: JFK
                  departureDate: '2025-10-01'
                  filters:
                    IsOriginByCity: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Quote & Book:
                  value: "{\n    \"id\": \"e8f7d6f8-d00d-4fb5-8600-1d9e5a89677c\",\n    \"status\": \"\
                    COMPLETED\",\n    \"resultsURL\": \"https://app.dev.cargoai.co/forwarder/search/search-result?uuid=e8f7d6f8-d00d-4fb5-8600-1d9e5a89677c&auth={{auth_token}}\"\
                    ,\n    \"flights\": [\n        {\n            \"flightUUID\": \"57324f94-bbed-11f0-aa57-82c5a440dd41\"\
                    ,\n            \"airlineCode\": \"00\",\n            \"flightNumber\": \"00768\",\n\
                    \            \"arrivalTime\": \"2025-11-10T06:00:00+08:00\",\n            \"arrivalAirport\"\
                    : \"SIN\",\n            \"departureTime\": \"2025-11-09T18:00:00+01:00\",\n      \
                    \      \"departureAirport\": \"CDG\",\n            \"latestAcceptanceTime\": \"2025-11-09T13:00:00+01:00\"\
                    ,\n            \"timeOfAvailability\": \"2025-11-10T11:00:00+08:00\",\n          \
                    \  \"legs\": [\n                {\n                    \"flightNumber\": \"00768\"\
                    ,\n                    \"arrivalTime\": \"2025-11-10T06:00:00+08:00\",\n         \
                    \           \"arrivalAirport\": \"SIN\",\n                    \"departureTime\": \"\
                    2025-11-09T18:00:00+01:00\",\n                    \"departureAirport\": \"CDG\",\n\
                    \                    \"bodyType\": \"Widebody\",\n                    \"aircraftCode\"\
                    : \"777\",\n                    \"co2\": {\n                        \"value\": 268.7270446087906,\n\
                    \                        \"estimation\": false\n                    }\n          \
                    \      }\n            ],\n            \"features\": {\n                \"bookable\"\
                    : true,\n                \"awbOptional\": true\n            },\n            \"rates\"\
                    : [\n                {\n                    \"id\": \"57324f75-bbed-11f0-aa57-82c5a440dd41\"\
                    ,\n                    \"name\": \"Spot\",\n                    \"type\": \"live\"\
                    ,\n                    \"currency\": \"EUR\",\n                    \"netRate\": 6.08,\n\
                    \                    \"allInRate\": 6.23,\n                    \"total\": 1035.05,\n\
                    \                    \"minimumRate\": false,\n                    \"lastUpdatedDate\"\
                    : \"\",\n                    \"charges\": [\n                        {\n         \
                    \                   \"label\": \"Security surcharge\",\n                         \
                    \   \"rate\": 0.08,\n                            \"type\": \"GROSS_WEIGHT\",\n   \
                    \                         \"code\": \"ssc\",\n                            \"minAmount\"\
                    : 0.0,\n                            \"maxAmount\": 0.0\n                        },\n\
                    \                        {\n                            \"label\": \"Fuel surcharge\"\
                    ,\n                            \"rate\": 0.07,\n                            \"type\"\
                    : \"CHARGEABLE_WEIGHT\",\n                            \"code\": \"fsc\",\n       \
                    \                     \"minAmount\": 0.0,\n                            \"maxAmount\"\
                    : 0.0\n                        }\n                    ],\n                    \"ocdc\"\
                    : [],\n                    \"isSpotQuoteRate\": true,\n                    \"handlingCodes\"\
                    : [\n                        \"GCR\"\n                    ],\n                   \
                    \ \"bookingURL\": \"https://app.dev.cargoai.co/shipment-details/new?flightUUID=57324f94-bbed-11f0-aa57-82c5a440dd41&rateID=57324f75-bbed-11f0-aa57-82c5a440dd41&auth={{auth_token}}\"\
                    \n                }\n            ],\n            \"available\": true,\n          \
                    \  \"awbPrefixes\": [\n                \"000\"\n            ],\n            \"airlineConditions\"\
                    : \"\\n\\t1- Offer subject to capacity when booking.\\n\\t2- Quotation reference to\
                    \ be imperatively mentioned when booking.\\n\\t3- This quotation is valid for the\
                    \ packaging indicated only, in the event of modification, please make a new request\
                    \ to the sales department.\\n\\t4- Taxes (IRC – MYC – etc…) subject to change without\
                    \ notice.\\n\\t5- In the event of cancellation or no show, we reserve the right to\
                    \ pass on all or part of the costs\\n\\t- Cancellation 72 hours before the departure\
                    \ of the truck and/or the flight (working hours): invoicing 50% of the amount of the\
                    \ freight\\n\\t- Cancellation 48 hours before the departure of the truck and/or the\
                    \ flight (working hours): invoicing of 75% of the amount of the freight\\n\\t- Cancellation\
                    \ 24 hours before the departure of the truck and/or the flight (working hours): invoicing\
                    \ of 100% of the amount of the freight\\n\\t- In the case of a no show (no presentation\
                    \ of the freight): invoicing of 100% of the amount of the freight\\n\\t- In the case\
                    \ of a low show (discount less than 50% of the reserved taxable weight): invoicing\
                    \ of 75% of the reserved taxable weight\\n\",\n            \"handlingInfoLink\": \"\
                    https://www.cargoai.co/terms\",\n            \"ghaName\": \"Mocked GHA\",\n      \
                    \      \"hle\": \"19:00\",\n            \"ghaAddress\": \"Airport road, Cargo Terminal,\
                    \ Mocked Cargo building\"\n        },\n        {\n            \"flightUUID\": \"573250c6-bbed-11f0-aa57-82c5a440dd41\"\
                    ,\n            \"airlineCode\": \"00\",\n            \"flightNumber\": \"00768\",\n\
                    \            \"arrivalTime\": \"2025-11-11T23:00:01+08:00\",\n            \"arrivalAirport\"\
                    : \"SIN\",\n            \"departureTime\": \"2025-11-11T11:00:01+01:00\",\n      \
                    \      \"departureAirport\": \"CDG\",\n            \"latestAcceptanceTime\": \"2025-11-11T06:00:01+01:00\"\
                    ,\n            \"timeOfAvailability\": \"2025-11-12T04:00:01+08:00\",\n          \
                    \  \"legs\": [\n                {\n                    \"flightNumber\": \"00768\"\
                    ,\n                    \"arrivalTime\": \"2025-11-11T23:00:01+08:00\",\n         \
                    \           \"arrivalAirport\": \"SIN\",\n                    \"departureTime\": \"\
                    2025-11-11T11:00:01+01:00\",\n                    \"departureAirport\": \"CDG\",\n\
                    \                    \"bodyType\": \"Widebody\",\n                    \"aircraftCode\"\
                    : \"777\",\n                    \"co2\": {\n                        \"value\": 268.7270446087906,\n\
                    \                        \"estimation\": false\n                    }\n          \
                    \      }\n            ],\n            \"features\": {\n                \"bookable\"\
                    : true,\n                \"awbOptional\": true\n            },\n            \"rates\"\
                    : [\n                {\n                    \"id\": \"573250a7-bbed-11f0-aa57-82c5a440dd41\"\
                    ,\n                    \"name\": \"Spot\",\n                    \"type\": \"live\"\
                    ,\n                    \"currency\": \"EUR\",\n                    \"netRate\": 6.08,\n\
                    \                    \"allInRate\": 6.23,\n                    \"total\": 1035.05,\n\
                    \                    \"minimumRate\": false,\n                    \"lastUpdatedDate\"\
                    : \"\",\n                    \"charges\": [\n                        {\n         \
                    \                   \"label\": \"Fuel surcharge\",\n                            \"\
                    rate\": 0.07,\n                            \"type\": \"CHARGEABLE_WEIGHT\",\n    \
                    \                        \"code\": \"fsc\",\n                            \"minAmount\"\
                    : 0.0,\n                            \"maxAmount\": 0.0\n                        },\n\
                    \                        {\n                            \"label\": \"Security surcharge\"\
                    ,\n                            \"rate\": 0.08,\n                            \"type\"\
                    : \"GROSS_WEIGHT\",\n                            \"code\": \"ssc\",\n            \
                    \                \"minAmount\": 0.0,\n                            \"maxAmount\": 0.0\n\
                    \                        }\n                    ],\n                    \"ocdc\":\
                    \ [],\n                    \"isSpotQuoteRate\": true,\n                    \"handlingCodes\"\
                    : [\n                        \"GCR\"\n                    ],\n                   \
                    \ \"bookingURL\": \"https://app.dev.cargoai.co/shipment-details/new?flightUUID=573250c6-bbed-11f0-aa57-82c5a440dd41&rateID=573250a7-bbed-11f0-aa57-82c5a440dd41&auth={{auth_token}}\"\
                    \n                }\n            ],\n            \"available\": true,\n          \
                    \  \"awbPrefixes\": [\n                \"000\"\n            ],\n            \"airlineConditions\"\
                    : \"\\n\\t1- Offer subject to capacity when booking.\\n\\t2- Quotation reference to\
                    \ be imperatively mentioned when booking.\\n\\t3- This quotation is valid for the\
                    \ packaging indicated only, in the event of modification, please make a new request\
                    \ to the sales department.\\n\\t4- Taxes (IRC – MYC – etc…) subject to change without\
                    \ notice.\\n\\t5- In the event of cancellation or no show, we reserve the right to\
                    \ pass on all or part of the costs\\n\\t- Cancellation 72 hours before the departure\
                    \ of the truck and/or the flight (working hours): invoicing 50% of the amount of the\
                    \ freight\\n\\t- Cancellation 48 hours before the departure of the truck and/or the\
                    \ flight (working hours): invoicing of 75% of the amount of the freight\\n\\t- Cancellation\
                    \ 24 hours before the departure of the truck and/or the flight (working hours): invoicing\
                    \ of 100% of the amount of the freight\\n\\t- In the case of a no show (no presentation\
                    \ of the freight): invoicing of 100% of the amount of the freight\\n\\t- In the case\
                    \ of a low show (discount less than 50% of the reserved taxable weight): invoicing\
                    \ of 75% of the reserved taxable weight\\n\",\n            \"handlingInfoLink\": \"\
                    https://www.cargoai.co/terms\",\n            \"ghaName\": \"Mocked GHA\",\n      \
                    \      \"hle\": \"19:00\",\n            \"ghaAddress\": \"Airport road, Cargo Terminal,\
                    \ Mocked Cargo building\"\n        },\n        {\n            \"flightUUID\": \"572c628b-bbed-11f0-aa57-82c5a440dd41\"\
                    ,\n            \"airlineCode\": \"00\",\n            \"flightNumber\": \"00768-00687\"\
                    ,\n            \"arrivalTime\": \"2025-11-11T18:00:01+08:00\",\n            \"arrivalAirport\"\
                    : \"SIN\",\n            \"departureTime\": \"2025-11-10T13:00:01+01:00\",\n      \
                    \      \"departureAirport\": \"CDG\",\n            \"latestAcceptanceTime\": \"2025-11-10T08:00:01+01:00\"\
                    ,\n            \"timeOfAvailability\": \"2025-11-11T23:00:01+08:00\",\n          \
                    \  \"stops\": 1,\n            \"legs\": [\n                {\n                   \
                    \ \"flightNumber\": \"00768\",\n                    \"arrivalTime\": \"2025-11-11T01:00:01+09:00\"\
                    ,\n                    \"arrivalAirport\": \"ICN\",\n                    \"departureTime\"\
                    : \"2025-11-10T13:00:01+01:00\",\n                    \"departureAirport\": \"CDG\"\
                    ,\n                    \"bodyType\": \"Widebody\",\n                    \"aircraftCode\"\
                    : \"777\",\n                    \"co2\": {\n                        \"value\": 224.7301607646903,\n\
                    \                        \"estimation\": false\n                    }\n          \
                    \      },\n                {\n                    \"flightNumber\": \"00687\",\n \
                    \                   \"arrivalTime\": \"2025-11-11T18:00:01+08:00\",\n            \
                    \        \"arrivalAirport\": \"SIN\",\n                    \"departureTime\": \"2025-11-11T13:00:01+09:00\"\
                    ,\n                    \"departureAirport\": \"ICN\",\n                    \"bodyType\"\
                    : \"Narrowbody\",\n                    \"aircraftCode\": \"320\",\n              \
                    \      \"co2\": {\n                        \"value\": 123.12327386171715,\n      \
                    \                  \"estimation\": false\n                    }\n                }\n\
                    \            ],\n            \"features\": {\n                \"awbOptional\": true\n\
                    \            },\n            \"rates\": [\n                {\n                   \
                    \ \"id\": \"572c6207-bbed-11f0-aa57-82c5a440dd41\",\n                    \"name\"\
                    : \"Spot\",\n                    \"type\": \"live\",\n                    \"currency\"\
                    : \"EUR\",\n                    \"netRate\": 6.08,\n                    \"allInRate\"\
                    : 6.23,\n                    \"total\": 1035.05,\n                    \"minimumRate\"\
                    : false,\n                    \"lastUpdatedDate\": \"\",\n                    \"charges\"\
                    : [\n                        {\n                            \"label\": \"Security\
                    \ surcharge\",\n                            \"rate\": 0.08,\n                    \
                    \        \"type\": \"GROSS_WEIGHT\",\n                            \"code\": \"ssc\"\
                    ,\n                            \"minAmount\": 0.0,\n                            \"\
                    maxAmount\": 0.0\n                        },\n                        {\n        \
                    \                    \"label\": \"Fuel surcharge\",\n                            \"\
                    rate\": 0.07,\n                            \"type\": \"CHARGEABLE_WEIGHT\",\n    \
                    \                        \"code\": \"fsc\",\n                            \"minAmount\"\
                    : 0.0,\n                            \"maxAmount\": 0.0\n                        }\n\
                    \                    ],\n                    \"ocdc\": [],\n                    \"\
                    isSpotQuoteRate\": true,\n                    \"handlingCodes\": [\n             \
                    \           \"GCR\"\n                    ]\n                },\n                {\n\
                    \                    \"id\": \"572c6260-bbed-11f0-aa57-82c5a440dd41\",\n         \
                    \           \"name\": \"Spot\",\n                    \"type\": \"express\",\n    \
                    \                \"currency\": \"EUR\",\n                    \"netRate\": 6.38,\n\
                    \                    \"allInRate\": 6.53,\n                    \"total\": 1085.15,\n\
                    \                    \"minimumRate\": false,\n                    \"lastUpdatedDate\"\
                    : \"\",\n                    \"charges\": [\n                        {\n         \
                    \                   \"label\": \"Fuel surcharge\",\n                            \"\
                    rate\": 0.07,\n                            \"type\": \"CHARGEABLE_WEIGHT\",\n    \
                    \                        \"code\": \"fsc\",\n                            \"minAmount\"\
                    : 0.0,\n                            \"maxAmount\": 0.0\n                        },\n\
                    \                        {\n                            \"label\": \"Security surcharge\"\
                    ,\n                            \"rate\": 0.08,\n                            \"type\"\
                    : \"GROSS_WEIGHT\",\n                            \"code\": \"ssc\",\n            \
                    \                \"minAmount\": 0.0,\n                            \"maxAmount\": 0.0\n\
                    \                        }\n                    ],\n                    \"ocdc\":\
                    \ [],\n                    \"isSpotQuoteRate\": true,\n                    \"handlingCodes\"\
                    : [\n                        \"GCR\"\n                    ]\n                }\n \
                    \           ],\n            \"available\": false,\n            \"availableReason\"\
                    : \"Dimensions are not loadable\",\n            \"awbPrefixes\": [\n             \
                    \   \"000\"\n            ],\n            \"airlineConditions\": \"\\n\\t1- Offer subject\
                    \ to capacity when booking.\\n\\t2- Quotation reference to be imperatively mentioned\
                    \ when booking.\\n\\t3- This quotation is valid for the packaging indicated only,\
                    \ in the event of modification, please make a new request to the sales department.\\\
                    n\\t4- Taxes (IRC – MYC – etc…) subject to change without notice.\\n\\t5- In the event\
                    \ of cancellation or no show, we reserve the right to pass on all or part of the costs\\\
                    n\\t- Cancellation 72 hours before the departure of the truck and/or the flight (working\
                    \ hours): invoicing 50% of the amount of the freight\\n\\t- Cancellation 48 hours\
                    \ before the departure of the truck and/or the flight (working hours): invoicing of\
                    \ 75% of the amount of the freight\\n\\t- Cancellation 24 hours before the departure\
                    \ of the truck and/or the flight (working hours): invoicing of 100% of the amount\
                    \ of the freight\\n\\t- In the case of a no show (no presentation of the freight):\
                    \ invoicing of 100% of the amount of the freight\\n\\t- In the case of a low show\
                    \ (discount less than 50% of the reserved taxable weight): invoicing of 75% of the\
                    \ reserved taxable weight\\n\",\n            \"handlingInfoLink\": \"https://www.cargoai.co/terms\"\
                    ,\n            \"ghaName\": \"Mocked GHA\",\n            \"hle\": \"19:00\",\n   \
                    \         \"ghaAddress\": \"Airport road, Cargo Terminal, Mocked Cargo building\"\n\
                    \        },\n        {\n            \"flightUUID\": \"56dcb616-bbed-11f0-bbc9-fecebbad8404\"\
                    ,\n            \"airlineCode\": \"00\",\n            \"flightNumber\": \"00768\",\n\
                    \            \"arrivalTime\": \"2025-11-10T06:00:00+08:00\",\n            \"arrivalAirport\"\
                    : \"SIN\",\n            \"departureTime\": \"2025-11-09T18:00:00+01:00\",\n      \
                    \      \"departureAirport\": \"CDG\",\n            \"legs\": [\n                {\n\
                    \                    \"flightNumber\": \"000768\",\n                    \"arrivalTime\"\
                    : \"2025-11-10T06:00:00+08:00\",\n                    \"arrivalAirport\": \"SIN\"\
                    ,\n                    \"departureTime\": \"2025-11-09T18:00:00+01:00\",\n       \
                    \             \"departureAirport\": \"CDG\",\n                    \"bodyType\": \"\
                    Freighter\",\n                    \"aircraftCode\": \"77F\",\n                   \
                    \ \"co2\": {\n                        \"value\": 285.96861485136526,\n           \
                    \             \"estimation\": false\n                    }\n                }\n  \
                    \          ],\n            \"features\": {},\n            \"available\": false\n \
                    \       },\n        {\n            \"flightUUID\": \"56dcdbbe-bbed-11f0-bbc9-fecebbad8404\"\
                    ,\n            \"airlineCode\": \"00\",\n            \"flightNumber\": \"00768\",\n\
                    \            \"arrivalTime\": \"2025-11-11T06:00:00+08:00\",\n            \"arrivalAirport\"\
                    : \"SIN\",\n            \"departureTime\": \"2025-11-10T18:00:00+01:00\",\n      \
                    \      \"departureAirport\": \"CDG\",\n            \"legs\": [\n                {\n\
                    \                    \"flightNumber\": \"000768\",\n                    \"arrivalTime\"\
                    : \"2025-11-11T06:00:00+08:00\",\n                    \"arrivalAirport\": \"SIN\"\
                    ,\n                    \"departureTime\": \"2025-11-10T18:00:00+01:00\",\n       \
                    \             \"departureAirport\": \"CDG\",\n                    \"bodyType\": \"\
                    Freighter\",\n                    \"aircraftCode\": \"77F\",\n                   \
                    \ \"co2\": {\n                        \"value\": 285.96861485136526,\n           \
                    \             \"estimation\": false\n                    }\n                }\n  \
                    \          ],\n            \"features\": {},\n            \"available\": false\n \
                    \       },\n        {\n            \"flightUUID\": \"56df4c0f-bbed-11f0-bbc9-fecebbad8404\"\
                    ,\n            \"airlineCode\": \"00\",\n            \"flightNumber\": \"00768\",\n\
                    \            \"arrivalTime\": \"2025-11-12T06:00:00+08:00\",\n            \"arrivalAirport\"\
                    : \"SIN\",\n            \"departureTime\": \"2025-11-11T18:00:00+01:00\",\n      \
                    \      \"departureAirport\": \"CDG\",\n            \"legs\": [\n                {\n\
                    \                    \"flightNumber\": \"000768\",\n                    \"arrivalTime\"\
                    : \"2025-11-12T06:00:00+08:00\",\n                    \"arrivalAirport\": \"SIN\"\
                    ,\n                    \"departureTime\": \"2025-11-11T18:00:00+01:00\",\n       \
                    \             \"departureAirport\": \"CDG\",\n                    \"bodyType\": \"\
                    Freighter\",\n                    \"aircraftCode\": \"77F\",\n                   \
                    \ \"co2\": {\n                        \"value\": 285.96861485136526,\n           \
                    \             \"estimation\": false\n                    }\n                }\n  \
                    \          ],\n            \"features\": {},\n            \"available\": false\n \
                    \       },\n        {\n            \"flightUUID\": \"56dd948f-bbed-11f0-bbc9-fecebbad8404\"\
                    ,\n            \"airlineCode\": \"00\",\n            \"flightNumber\": \"00768\",\n\
                    \            \"arrivalTime\": \"2025-11-13T06:00:00+08:00\",\n            \"arrivalAirport\"\
                    : \"SIN\",\n            \"departureTime\": \"2025-11-12T18:00:00+01:00\",\n      \
                    \      \"departureAirport\": \"CDG\",\n            \"legs\": [\n                {\n\
                    \                    \"flightNumber\": \"000768\",\n                    \"arrivalTime\"\
                    : \"2025-11-13T06:00:00+08:00\",\n                    \"arrivalAirport\": \"SIN\"\
                    ,\n                    \"departureTime\": \"2025-11-12T18:00:00+01:00\",\n       \
                    \             \"departureAirport\": \"CDG\",\n                    \"bodyType\": \"\
                    Freighter\",\n                    \"aircraftCode\": \"77F\",\n                   \
                    \ \"co2\": {\n                        \"value\": 285.96861485136526,\n           \
                    \             \"estimation\": false\n                    }\n                }\n  \
                    \          ],\n            \"features\": {},\n            \"available\": false\n \
                    \       }\n    ],\n    \"metadata\": {\n      \"searchErrors\": [\n        {\n   \
                    \       \"error\": \"Customer ID not found\",\n          \"airlines\": [\n       \
                    \     \"01\"\n          ]\n        },\n        {\n          \"error\": \"Market is\
                    \ closed\",\n          \"airlines\": [\n            \"02\"\n          ]\n        }\n\
                    \      ]\n    }\n}"
                Search by City Code:
                  value: "{\n    \"id\": \"9ac338fe-c4fe-4e7c-9c0c-dd7d10165865\",\n    \"status\": \"\
                    COMPLETED\",\n    \"resultsURL\": \"https://app.dev.cargoai.co/forwarder/search/search-result?uuid=9ac338fe-c4fe-4e7c-9c0c-dd7d10165865&auth=eyJlbWFpbCI6InRlc3RzQHRlc3RzLmNvbSIsInNlY3JldCI6InR1dDR3OWx1Ym53eDVmaTVucjJuYWZiOGY0ZGZ3YXRtIiwiXyI6MTc1ODYyMDY0NH0=\"\
                    ,\n    \"flights\": [\n        {\n            \"flightUUID\": \"8fece1e0-9858-11f0-93eb-9a2618d0fbfd\"\
                    ,\n            \"airlineCode\": \"LY\",\n            \"flightNumber\": \"LY0320-LY0003\"\
                    ,\n            \"arrivalTime\": \"2025-10-03T04:55:00-04:00\",\n            \"arrivalAirport\"\
                    : \"JFK\",\n            \"departureTime\": \"2025-10-01T07:00:00+02:00\",\n      \
                    \      \"departureAirport\": \"CDG\",\n            \"latestAcceptanceTime\": \"2025-09-30T11:00:00+02:00\"\
                    ,\n            \"timeOfAvailability\": \"2025-10-03T04:55:00-04:00\",\n          \
                    \  \"stops\": 1,\n            \"legs\": [\n                {\n                   \
                    \ \"flightNumber\": \"LY0320\",\n                    \"arrivalTime\": \"2025-10-01T12:20:00+03:00\"\
                    ,\n                    \"arrivalAirport\": \"TLV\",\n                    \"departureTime\"\
                    : \"2025-10-01T07:00:00+02:00\",\n                    \"departureAirport\": \"CDG\"\
                    ,\n                    \"bodyType\": \"Widebody\",\n                    \"aircraftCode\"\
                    : \"789\",\n                    \"co2\": {\n                        \"value\": 118.20342514701146,\n\
                    \                        \"estimation\": false\n                    }\n          \
                    \      },\n                {\n                    \"flightNumber\": \"LY0003\",\n\
                    \                    \"arrivalTime\": \"2025-10-03T04:55:00-04:00\",\n           \
                    \         \"arrivalAirport\": \"JFK\",\n                    \"departureTime\": \"\
                    2025-10-03T00:05:00+03:00\",\n                    \"departureAirport\": \"TLV\",\n\
                    \                    \"bodyType\": \"Widebody\",\n                    \"aircraftCode\"\
                    : \"789\",\n                    \"co2\": {\n                        \"value\": 311.2697133488996,\n\
                    \                        \"estimation\": false\n                    }\n          \
                    \      }\n            ],\n            \"features\": {\n                \"bookable\"\
                    : true,\n                \"awbOptional\": true\n            },\n            \"rates\"\
                    : [\n                {\n                    \"id\": \"2744459b-ac08-493b-8225-cda495db27f01758616658205\"\
                    ,\n                    \"name\": \"\",\n                    \"type\": \"live\",\n\
                    \                    \"currency\": \"EUR\",\n                    \"netRate\": 1.2,\n\
                    \                    \"allInRate\": 1.2,\n                    \"total\": 240,\n  \
                    \                  \"minimumRate\": false,\n                    \"lastUpdatedDate\"\
                    : \"\",\n                    \"charges\": null,\n                    \"ocdc\": null,\n\
                    \                    \"latestAcceptanceTime\": \"2025-09-30T11:00:00+02:00\",\n  \
                    \                  \"timeOfAvailability\": \"2025-10-03T04:55:00-04:00\",\n      \
                    \              \"handlingCodes\": null,\n                    \"bookingURL\": \"https://app.dev.cargoai.co/shipment-details/new?flightUUID=8fece1e0-9858-11f0-93eb-9a2618d0fbfd&rateID=2744459b-ac08-493b-8225-cda495db27f01758616658205&auth=eyJlbWFpbCI6InRlc3RzQHRlc3RzLmNvbSIsInNlY3JldCI6InR1dDR3OWx1Ym53eDVmaTVucjJuYWZiOGY0ZGZ3YXRtIiwiXyI6MTc1ODYyMDY0NH0=\"\
                    \n                }\n            ],\n            \"available\": true,\n          \
                    \  \"ghaAddress\": \"6, rue du Pav? Zone de Fret 6, BP 11546 95709 Roissy CDG\"\n\
                    \        },\n        {\n            \"flightUUID\": \"8fecf1b1-9858-11f0-93eb-9a2618d0fbfd\"\
                    ,\n            \"airlineCode\": \"LY\",\n            \"flightNumber\": \"LY0220-LY0003\"\
                    ,\n            \"arrivalTime\": \"2025-10-05T04:55:00-04:00\",\n            \"arrivalAirport\"\
                    : \"JFK\",\n            \"departureTime\": \"2025-10-03T00:45:00+02:00\",\n      \
                    \      \"departureAirport\": \"CDG\",\n            \"latestAcceptanceTime\": \"2025-10-02T11:00:00+02:00\"\
                    ,\n            \"timeOfAvailability\": \"2025-10-05T04:55:00-04:00\",\n          \
                    \  \"stops\": 1,\n            \"legs\": [\n                {\n                   \
                    \ \"flightNumber\": \"LY0220\",\n                    \"arrivalTime\": \"2025-10-03T06:05:00+03:00\"\
                    ,\n                    \"arrivalAirport\": \"TLV\",\n                    \"departureTime\"\
                    : \"2025-10-03T00:45:00+02:00\",\n                    \"departureAirport\": \"CDG\"\
                    ,\n                    \"bodyType\": \"Widebody\",\n                    \"aircraftCode\"\
                    : \"789\",\n                    \"co2\": {\n                        \"value\": 118.20342514701146,\n\
                    \                        \"estimation\": false\n                    }\n          \
                    \      },\n                {\n                    \"flightNumber\": \"LY0003\",\n\
                    \                    \"arrivalTime\": \"2025-10-05T04:55:00-04:00\",\n           \
                    \         \"arrivalAirport\": \"JFK\",\n                    \"departureTime\": \"\
                    2025-10-05T00:05:00+03:00\",\n                    \"departureAirport\": \"TLV\",\n\
                    \                    \"bodyType\": \"Widebody\",\n                    \"aircraftCode\"\
                    : \"789\",\n                    \"co2\": {\n                        \"value\": 311.2697133488996,\n\
                    \                        \"estimation\": false\n                    }\n          \
                    \      }\n            ],\n            \"features\": {\n                \"bookable\"\
                    : true,\n                \"awbOptional\": true\n            },\n            \"rates\"\
                    : [\n                {\n                    \"id\": \"bd7c31c4-9529-42b3-9781-19dca6feea971758616658236\"\
                    ,\n                    \"name\": \"\",\n                    \"type\": \"live\",\n\
                    \                    \"currency\": \"EUR\",\n                    \"netRate\": 1.2,\n\
                    \                    \"allInRate\": 1.2,\n                    \"total\": 240,\n  \
                    \                  \"minimumRate\": false,\n                    \"lastUpdatedDate\"\
                    : \"\",\n                    \"charges\": null,\n                    \"ocdc\": null,\n\
                    \                    \"latestAcceptanceTime\": \"2025-10-02T11:00:00+02:00\",\n  \
                    \                  \"timeOfAvailability\": \"2025-10-05T04:55:00-04:00\",\n      \
                    \              \"handlingCodes\": null,\n                    \"bookingURL\": \"https://app.dev.cargoai.co/shipment-details/new?flightUUID=8fecf1b1-9858-11f0-93eb-9a2618d0fbfd&rateID=bd7c31c4-9529-42b3-9781-19dca6feea971758616658236&auth=eyJlbWFpbCI6InRlc3RzQHRlc3RzLmNvbSIsInNlY3JldCI6InR1dDR3OWx1Ym53eDVmaTVucjJuYWZiOGY0ZGZ3YXRtIiwiXyI6MTc1ODYyMDY0NH0=\"\
                    \n                }\n            ],\n            \"available\": true,\n          \
                    \  \"ghaAddress\": \"6, rue du Pav? Zone de Fret 6, BP 11546 95709 Roissy CDG\"\n\
                    \        },\n        {\n            \"flightUUID\": \"8e69291c-9858-11f0-9780-be89b7673847\"\
                    ,\n            \"airlineCode\": \"00\",\n            \"flightNumber\": \"00982\",\n\
                    \            \"arrivalTime\": \"2025-10-02T01:00:00-04:00\",\n            \"arrivalAirport\"\
                    : \"JFK\",\n            \"departureTime\": \"2025-10-01T19:00:00+02:00\",\n      \
                    \      \"departureAirport\": \"ORY\",\n            \"latestAcceptanceTime\": \"2025-10-01T14:00:00+02:00\"\
                    ,\n            \"timeOfAvailability\": \"2025-10-02T06:00:00-04:00\",\n          \
                    \  \"legs\": [\n                {\n                    \"flightNumber\": \"00982\"\
                    ,\n                    \"arrivalTime\": \"2025-10-02T01:00:00-04:00\",\n         \
                    \           \"arrivalAirport\": \"JFK\",\n                    \"departureTime\": \"\
                    2025-10-01T19:00:00+02:00\",\n                    \"departureAirport\": \"ORY\",\n\
                    \                    \"bodyType\": \"Widebody\",\n                    \"aircraftCode\"\
                    : \"777\",\n                    \"co2\": {\n                        \"value\": 298.03396130452586,\n\
                    \                        \"estimation\": false\n                    }\n          \
                    \      }\n            ],\n            \"features\": {\n                \"bookable\"\
                    : true,\n                \"awbOptional\": true\n            },\n            \"rates\"\
                    : [\n                {\n                    \"id\": \"8e6928f1-9858-11f0-9780-be89b7673847\"\
                    ,\n                    \"name\": \"\",\n                    \"type\": \"live\",\n\
                    \                    \"currency\": \"EUR\",\n                    \"netRate\": 1.8,\n\
                    \                    \"allInRate\": 1.84,\n                    \"total\": 368,\n \
                    \                   \"minimumRate\": false,\n                    \"lastUpdatedDate\"\
                    : \"\",\n                    \"charges\": [\n                        {\n         \
                    \                   \"label\": \"Fuel surcharge\",\n                            \"\
                    rate\": 0.02,\n                            \"type\": \"CHARGEABLE_WEIGHT\",\n    \
                    \                        \"code\": \"fsc\",\n                            \"minAmount\"\
                    : 0,\n                            \"maxAmount\": 0\n                        },\n \
                    \                       {\n                            \"label\": \"Security surcharge\"\
                    ,\n                            \"rate\": 0.02,\n                            \"type\"\
                    : \"GROSS_WEIGHT\",\n                            \"code\": \"ssc\",\n            \
                    \                \"minAmount\": 0,\n                            \"maxAmount\": 0\n\
                    \                        }\n                    ],\n                    \"ocdc\":\
                    \ [],\n                    \"handlingCodes\": [\n                        \"GCR\"\n\
                    \                    ],\n                    \"bookingURL\": \"https://app.dev.cargoai.co/shipment-details/new?flightUUID=8e69291c-9858-11f0-9780-be89b7673847&rateID=8e6928f1-9858-11f0-9780-be89b7673847&auth=eyJlbWFpbCI6InRlc3RzQHRlc3RzLmNvbSIsInNlY3JldCI6InR1dDR3OWx1Ym53eDVmaTVucjJuYWZiOGY0ZGZ3YXRtIiwiXyI6MTc1ODYyMDY0NH0=\"\
                    \n                }\n            ],\n            \"available\": true,\n          \
                    \  \"awbPrefixes\": [\n                \"000\"\n            ],\n            \"airlineConditions\"\
                    : \"\\n\\t1- Offer subject to capacity when booking.\\n\\t2- Quotation reference to\
                    \ be imperatively mentioned when booking.\\n\\t3- This quotation is valid for the\
                    \ packaging indicated only, in the event of modification, please make a new request\
                    \ to the sales department.\\n\\t4- Taxes (IRC – MYC – etc…) subject to change without\
                    \ notice.\\n\\t5- In the event of cancellation or no show, we reserve the right to\
                    \ pass on all or part of the costs\\n\\t- Cancellation 72 hours before the departure\
                    \ of the truck and/or the flight (working hours): invoicing 50% of the amount of the\
                    \ freight\\n\\t- Cancellation 48 hours before the departure of the truck and/or the\
                    \ flight (working hours): invoicing of 75% of the amount of the freight\\n\\t- Cancellation\
                    \ 24 hours before the departure of the truck and/or the flight (working hours): invoicing\
                    \ of 100% of the amount of the freight\\n\\t- In the case of a no show (no presentation\
                    \ of the freight): invoicing of 100% of the amount of the freight\\n\\t- In the case\
                    \ of a low show (discount less than 50% of the reserved taxable weight): invoicing\
                    \ of 75% of the reserved taxable weight\\n\",\n            \"handlingInfoLink\": \"\
                    https://www.cargoai.co/terms\",\n            \"ghaName\": \"Mocked GHA\",\n      \
                    \      \"hle\": \"19:00\",\n            \"ghaAddress\": \"Airport road, Cargo Terminal,\
                    \ Mocked Cargo building\"\n        }\n    ]\n}"
                Route & Schedule:
                  value: "{\n    \"id\": \"e8f7d6f8-d00d-4fb5-8600-1d9e5a89677c\",\n    \"status\": \"\
                    COMPLETED\",\n    \"flights\": [\n        {\n            \"flightUUID\": \"57324f94-bbed-11f0-aa57-82c5a440dd41\"\
                    ,\n            \"airlineCode\": \"00\",\n            \"flightNumber\": \"00768\",\n\
                    \            \"arrivalTime\": \"2025-11-10T06:00:00+08:00\",\n            \"arrivalAirport\"\
                    : \"SIN\",\n            \"departureTime\": \"2025-11-09T18:00:00+01:00\",\n      \
                    \      \"departureAirport\": \"CDG\",\n            \"latestAcceptanceTime\": \"2025-11-09T13:00:00+01:00\"\
                    ,\n            \"timeOfAvailability\": \"2025-11-10T11:00:00+08:00\",\n          \
                    \  \"legs\": [\n                {\n                    \"flightNumber\": \"00768\"\
                    ,\n                    \"arrivalTime\": \"2025-11-10T06:00:00+08:00\",\n         \
                    \           \"arrivalAirport\": \"SIN\",\n                    \"departureTime\": \"\
                    2025-11-09T18:00:00+01:00\",\n                    \"departureAirport\": \"CDG\",\n\
                    \                    \"bodyType\": \"Widebody\",\n                    \"aircraftCode\"\
                    : \"777\",\n                    \"co2\": {\n                        \"value\": 268.7270446087906,\n\
                    \                        \"estimation\": false\n                    }\n          \
                    \      }\n            ],\n            \"features\": {},\n            \"available\"\
                    : false\n        },\n        {\n            \"flightUUID\": \"573250c6-bbed-11f0-aa57-82c5a440dd41\"\
                    ,\n            \"airlineCode\": \"00\",\n            \"flightNumber\": \"00768\",\n\
                    \            \"arrivalTime\": \"2025-11-11T23:00:01+08:00\",\n            \"arrivalAirport\"\
                    : \"SIN\",\n            \"departureTime\": \"2025-11-11T11:00:01+01:00\",\n      \
                    \      \"departureAirport\": \"CDG\",\n            \"latestAcceptanceTime\": \"2025-11-11T06:00:01+01:00\"\
                    ,\n            \"timeOfAvailability\": \"2025-11-12T04:00:01+08:00\",\n          \
                    \  \"legs\": [\n                {\n                    \"flightNumber\": \"00768\"\
                    ,\n                    \"arrivalTime\": \"2025-11-11T23:00:01+08:00\",\n         \
                    \           \"arrivalAirport\": \"SIN\",\n                    \"departureTime\": \"\
                    2025-11-11T11:00:01+01:00\",\n                    \"departureAirport\": \"CDG\",\n\
                    \                    \"bodyType\": \"Widebody\",\n                    \"aircraftCode\"\
                    : \"777\",\n                    \"co2\": {\n                        \"value\": 268.7270446087906,\n\
                    \                        \"estimation\": false\n                    }\n          \
                    \      }\n            ],\n            \"features\": {},\n            \"available\"\
                    : false\n        },\n        {\n            \"flightUUID\": \"572c628b-bbed-11f0-aa57-82c5a440dd41\"\
                    ,\n            \"airlineCode\": \"00\",\n            \"flightNumber\": \"00768-00687\"\
                    ,\n            \"arrivalTime\": \"2025-11-11T18:00:01+08:00\",\n            \"arrivalAirport\"\
                    : \"SIN\",\n            \"departureTime\": \"2025-11-10T13:00:01+01:00\",\n      \
                    \      \"departureAirport\": \"CDG\",\n            \"latestAcceptanceTime\": \"2025-11-10T08:00:01+01:00\"\
                    ,\n            \"timeOfAvailability\": \"2025-11-11T23:00:01+08:00\",\n          \
                    \  \"stops\": 1,\n            \"legs\": [\n                {\n                   \
                    \ \"flightNumber\": \"00768\",\n                    \"arrivalTime\": \"2025-11-11T01:00:01+09:00\"\
                    ,\n                    \"arrivalAirport\": \"ICN\",\n                    \"departureTime\"\
                    : \"2025-11-10T13:00:01+01:00\",\n                    \"departureAirport\": \"CDG\"\
                    ,\n                    \"bodyType\": \"Widebody\",\n                    \"aircraftCode\"\
                    : \"777\",\n                    \"co2\": {\n                        \"value\": 224.7301607646903,\n\
                    \                        \"estimation\": false\n                    }\n          \
                    \      },\n                {\n                    \"flightNumber\": \"00687\",\n \
                    \                   \"arrivalTime\": \"2025-11-11T18:00:01+08:00\",\n            \
                    \        \"arrivalAirport\": \"SIN\",\n                    \"departureTime\": \"2025-11-11T13:00:01+09:00\"\
                    ,\n                    \"departureAirport\": \"ICN\",\n                    \"bodyType\"\
                    : \"Narrowbody\",\n                    \"aircraftCode\": \"320\",\n              \
                    \      \"co2\": {\n                        \"value\": 123.12327386171715,\n      \
                    \                  \"estimation\": false\n                    }\n                }\n\
                    \            ],\n            \"features\": {},\n            \"available\": false\n\
                    \        },\n        {\n            \"flightUUID\": \"56dcb616-bbed-11f0-bbc9-fecebbad8404\"\
                    ,\n            \"airlineCode\": \"00\",\n            \"flightNumber\": \"00768\",\n\
                    \            \"arrivalTime\": \"2025-11-10T06:00:00+08:00\",\n            \"arrivalAirport\"\
                    : \"SIN\",\n            \"departureTime\": \"2025-11-09T18:00:00+01:00\",\n      \
                    \      \"departureAirport\": \"CDG\",\n            \"legs\": [\n                {\n\
                    \                    \"flightNumber\": \"000768\",\n                    \"arrivalTime\"\
                    : \"2025-11-10T06:00:00+08:00\",\n                    \"arrivalAirport\": \"SIN\"\
                    ,\n                    \"departureTime\": \"2025-11-09T18:00:00+01:00\",\n       \
                    \             \"departureAirport\": \"CDG\",\n                    \"bodyType\": \"\
                    Freighter\",\n                    \"aircraftCode\": \"77F\",\n                   \
                    \ \"co2\": {\n                        \"value\": 285.96861485136526,\n           \
                    \             \"estimation\": false\n                    }\n                }\n  \
                    \          ],\n            \"features\": {},\n            \"available\": false\n \
                    \       },\n        {\n            \"flightUUID\": \"56dcdbbe-bbed-11f0-bbc9-fecebbad8404\"\
                    ,\n            \"airlineCode\": \"00\",\n            \"flightNumber\": \"00768\",\n\
                    \            \"arrivalTime\": \"2025-11-11T06:00:00+08:00\",\n            \"arrivalAirport\"\
                    : \"SIN\",\n            \"departureTime\": \"2025-11-10T18:00:00+01:00\",\n      \
                    \      \"departureAirport\": \"CDG\",\n            \"legs\": [\n                {\n\
                    \                    \"flightNumber\": \"000768\",\n                    \"arrivalTime\"\
                    : \"2025-11-11T06:00:00+08:00\",\n                    \"arrivalAirport\": \"SIN\"\
                    ,\n                    \"departureTime\": \"2025-11-10T18:00:00+01:00\",\n       \
                    \             \"departureAirport\": \"CDG\",\n                    \"bodyType\": \"\
                    Freighter\",\n                    \"aircraftCode\": \"77F\",\n                   \
                    \ \"co2\": {\n                        \"value\": 285.96861485136526,\n           \
                    \             \"estimation\": false\n                    }\n                }\n  \
                    \          ],\n            \"features\": {},\n            \"available\": false\n \
                    \       },\n        {\n            \"flightUUID\": \"56df4c0f-bbed-11f0-bbc9-fecebbad8404\"\
                    ,\n            \"airlineCode\": \"00\",\n            \"flightNumber\": \"00768\",\n\
                    \            \"arrivalTime\": \"2025-11-12T06:00:00+08:00\",\n            \"arrivalAirport\"\
                    : \"SIN\",\n            \"departureTime\": \"2025-11-11T18:00:00+01:00\",\n      \
                    \      \"departureAirport\": \"CDG\",\n            \"legs\": [\n                {\n\
                    \                    \"flightNumber\": \"000768\",\n                    \"arrivalTime\"\
                    : \"2025-11-12T06:00:00+08:00\",\n                    \"arrivalAirport\": \"SIN\"\
                    ,\n                    \"departureTime\": \"2025-11-11T18:00:00+01:00\",\n       \
                    \             \"departureAirport\": \"CDG\",\n                    \"bodyType\": \"\
                    Freighter\",\n                    \"aircraftCode\": \"77F\",\n                   \
                    \ \"co2\": {\n                        \"value\": 285.96861485136526,\n           \
                    \             \"estimation\": false\n                    }\n                }\n  \
                    \          ],\n            \"features\": {},\n            \"available\": false\n \
                    \       },\n        {\n            \"flightUUID\": \"56dd948f-bbed-11f0-bbc9-fecebbad8404\"\
                    ,\n            \"airlineCode\": \"00\",\n            \"flightNumber\": \"00768\",\n\
                    \            \"arrivalTime\": \"2025-11-13T06:00:00+08:00\",\n            \"arrivalAirport\"\
                    : \"SIN\",\n            \"departureTime\": \"2025-11-12T18:00:00+01:00\",\n      \
                    \      \"departureAirport\": \"CDG\",\n            \"legs\": [\n                {\n\
                    \                    \"flightNumber\": \"000768\",\n                    \"arrivalTime\"\
                    : \"2025-11-13T06:00:00+08:00\",\n                    \"arrivalAirport\": \"SIN\"\
                    ,\n                    \"departureTime\": \"2025-11-12T18:00:00+01:00\",\n       \
                    \             \"departureAirport\": \"CDG\",\n                    \"bodyType\": \"\
                    Freighter\",\n                    \"aircraftCode\": \"77F\",\n                   \
                    \ \"co2\": {\n                        \"value\": 285.96861485136526,\n           \
                    \             \"estimation\": false\n                    }\n                }\n  \
                    \          ],\n            \"features\": {},\n            \"available\": false\n \
                    \       }\n    ]\n}"
              schema:
                oneOf:
                - title: Quote & Book
                  type: object
                  properties:
                    id:
                      type: string
                      example: e8f7d6f8-d00d-4fb5-8600-1d9e5a89677c
                    status:
                      type: string
                      example: COMPLETED
                    resultsURL:
                      type: string
                      example: https://app.dev.cargoai.co/forwarder/search/search-result?uuid=e8f7d6f8-d00d-4fb5-8600-1d9e5a89677c&auth={{auth_token}}
                    flights:
                      type: array
                      items:
                        type: object
                        properties:
                          flightUUID:
                            type: string
                            example: 57324f94-bbed-11f0-aa57-82c5a440dd41
                          airlineCode:
                            type: string
                            example: '00'
                          flightNumber:
                            type: string
                            example: 00768
                          arrivalTime:
                            type: string
                            example: '2025-11-10T06:00:00+08:00'
                          arrivalAirport:
                            type: string
                            example: SIN
                          departureTime:
                            type: string
                            example: '2025-11-09T18:00:00+01:00'
                          departureAirport:
                            type: string
                            example: CDG
                          latestAcceptanceTime:
                            type: string
                            example: '2025-11-09T13:00:00+01:00'
                          timeOfAvailability:
                            type: string
                            example: '2025-11-10T11:00:00+08:00'
                          legs:
                            type: array
                            items:
                              type: object
                              properties:
                                flightNumber:
                                  type: string
                                  example: 00768
                                arrivalTime:
                                  type: string
                                  example: '2025-11-10T06:00:00+08:00'
                                arrivalAirport:
                                  type: string
                                  example: SIN
                                departureTime:
                                  type: string
                                  example: '2025-11-09T18:00:00+01:00'
                                departureAirport:
                                  type: string
                                  example: CDG
                                bodyType:
                                  type: string
                                  example: Widebody
                                aircraftCode:
                                  type: string
                                  example: '777'
                                co2:
                                  type: object
                                  properties:
                                    value:
                                      type: number
                                      example: 268.7270446087906
                                      default: 0
                                    estimation:
                                      type: boolean
                                      example: false
                                      default: true
                          features:
                            type: object
                            properties:
                              bookable:
                                type: boolean
                                example: true
                                default: true
                              awbOptional:
                                type: boolean
                                example: true
                                default: true
                          rates:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  example: 57324f75-bbed-11f0-aa57-82c5a440dd41
                                name:
                                  type: string
                                  example: Spot
                                type:
                                  type: string
                                  example: live
                                currency:
                                  type: string
                                  example: EUR
                                netRate:
                                  type: number
                                  example: 6.08
                                  default: 0
                                allInRate:
                                  type: number
                                  example: 6.23
                                  default: 0
                                total:
                                  type: number
                                  example: 1035.05
                                  default: 0
                                minimumRate:
                                  type: boolean
                                  example: false
                                  default: true
                                lastUpdatedDate:
                                  type: string
                                  example: ''
                                charges:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      label:
                                        type: string
                                        example: Security surcharge
                                      rate:
                                        type: number
                                        example: 0.08
                                        default: 0
                                      type:
                                        type: string
                                        example: GROSS_WEIGHT
                                      code:
                                        type: string
                                        example: ssc
                                      minAmount:
                                        type: integer
                                        example: 0
                                        default: 0
                                      maxAmount:
                                        type: integer
                                        example: 0
                                        default: 0
                                ocdc:
                                  type: array
                                  items:
                                    type: object
                                    properties: {}
                                isSpotQuoteRate:
                                  type: boolean
                                  example: true
                                  default: true
                                handlingCodes:
                                  type: array
                                  items:
                                    type: string
                                    example: GCR
                                bookingURL:
                                  type: string
                                  example: https://app.dev.cargoai.co/shipment-details/new?flightUUID=57324f94-bbed-11f0-aa57-82c5a440dd41&rateID=57324f75-bbed-11f0-aa57-82c5a440dd41&auth={{auth_token}}
                          available:
                            type: boolean
                            example: true
                            default: true
                          awbPrefixes:
                            type: array
                            items:
                              type: string
                              example: '000'
                          airlineConditions:
                            type: string
                            example: "\n\t1- Offer subject to capacity when booking.\n\t2- Quotation reference\
                              \ to be imperatively mentioned when booking.\n\t3- This quotation is valid\
                              \ for the packaging indicated only, in the event of modification, please\
                              \ make a new request to the sales department.\n\t4- Taxes (IRC – MYC – etc…)\
                              \ subject to change without notice.\n\t5- In the event of cancellation or\
                              \ no show, we reserve the right to pass on all or part of the costs\n\t\
                              - Cancellation 72 hours before the departure of the truck and/or the flight\
                              \ (working hours): invoicing 50% of the amount of the freight\n\t- Cancellation\
                              \ 48 hours before the departure of the truck and/or the flight (working\
                              \ hours): invoicing of 75% of the amount of the freight\n\t- Cancellation\
                              \ 24 hours before the departure of the truck and/or the flight (working\
                              \ hours): invoicing of 100% of the amount of the freight\n\t- In the case\
                              \ of a no show (no presentation of the freight): invoicing of 100% of the\
                              \ amount of the freight\n\t- In the case of a low show (discount less than\
                              \ 50% of the reserved taxable weight): invoicing of 75% of the reserved\
                              \ taxable weight\n"
                          handlingInfoLink:
                            type: string
                            example: https://www.cargoai.co/terms
                          ghaName:
                            type: string
                            example: Mocked GHA
                          hle:
                            type: string
                            example: '19:00'
                          ghaAddress:
                            type: string
                            example: Airport road, Cargo Terminal, Mocked Cargo building
                    metadata:
                      type: object
                      properties:
                        searchErrors:
                          type: array
                          items:
                            type: object
                            properties:
                              error:
                                type: string
                                example: Customer ID not found
                              airlines:
                                type: array
                                items:
                                  type: string
                                  example: '01'
                - title: Search by City Code
                  type: object
                  properties:
                    id:
                      type: string
                      example: 9ac338fe-c4fe-4e7c-9c0c-dd7d10165865
                    status:
                      type: string
                      example: COMPLETED
                    resultsURL:
                      type: string
                      example: https://app.dev.cargoai.co/forwarder/search/search-result?uuid=9ac338fe-c4fe-4e7c-9c0c-dd7d10165865&auth=eyJlbWFpbCI6InRlc3RzQHRlc3RzLmNvbSIsInNlY3JldCI6InR1dDR3OWx1Ym53eDVmaTVucjJuYWZiOGY0ZGZ3YXRtIiwiXyI6MTc1ODYyMDY0NH0=
                    flights:
                      type: array
                      items:
                        type: object
                        properties:
                          flightUUID:
                            type: string
                            example: 8fece1e0-9858-11f0-93eb-9a2618d0fbfd
                          airlineCode:
                            type: string
                            example: LY
                          flightNumber:
                            type: string
                            example: LY0320-LY0003
                          arrivalTime:
                            type: string
                            example: '2025-10-03T04:55:00-04:00'
                          arrivalAirport:
                            type: string
                            example: JFK
                          departureTime:
                            type: string
                            example: '2025-10-01T07:00:00+02:00'
                          departureAirport:
                            type: string
                            example: CDG
                          latestAcceptanceTime:
                            type: string
                            example: '2025-09-30T11:00:00+02:00'
                          timeOfAvailability:
                            type: string
                            example: '2025-10-03T04:55:00-04:00'
                          stops:
                            type: integer
                            example: 1
                            default: 0
                          legs:
                            type: array
                            items:
                              type: object
                              properties:
                                flightNumber:
                                  type: string
                                  example: LY0320
                                arrivalTime:
                                  type: string
                                  example: '2025-10-01T12:20:00+03:00'
                                arrivalAirport:
                                  type: string
                                  example: TLV
                                departureTime:
                                  type: string
                                  example: '2025-10-01T07:00:00+02:00'
                                departureAirport:
                                  type: string
                                  example: CDG
                                bodyType:
                                  type: string
                                  example: Widebody
                                aircraftCode:
                                  type: string
                                  example: '789'
                                co2:
                                  type: object
                                  properties:
                                    value:
                                      type: number
                                      example: 118.20342514701146
                                      default: 0
                                    estimation:
                                      type: boolean
                                      example: false
                                      default: true
                          features:
                            type: object
                            properties:
                              bookable:
                                type: boolean
                                example: true
                                default: true
                              awbOptional:
                                type: boolean
                                example: true
                                default: true
                          rates:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  example: 2744459b-ac08-493b-8225-cda495db27f01758616658205
                                name:
                                  type: string
                                  example: ''
                                type:
                                  type: string
                                  example: live
                                currency:
                                  type: string
                                  example: EUR
                                netRate:
                                  type: number
                                  example: 1.2
                                  default: 0
                                allInRate:
                                  type: number
                                  example: 1.2
                                  default: 0
                                total:
                                  type: integer
                                  example: 240
                                  default: 0
                                minimumRate:
                                  type: boolean
                                  example: false
                                  default: true
                                lastUpdatedDate:
                                  type: string
                                  example: ''
                                charges: {}
                                ocdc: {}
                                latestAcceptanceTime:
                                  type: string
                                  example: '2025-09-30T11:00:00+02:00'
                                timeOfAvailability:
                                  type: string
                                  example: '2025-10-03T04:55:00-04:00'
                                handlingCodes: {}
                                bookingURL:
                                  type: string
                                  example: https://app.dev.cargoai.co/shipment-details/new?flightUUID=8fece1e0-9858-11f0-93eb-9a2618d0fbfd&rateID=2744459b-ac08-493b-8225-cda495db27f01758616658205&auth=eyJlbWFpbCI6InRlc3RzQHRlc3RzLmNvbSIsInNlY3JldCI6InR1dDR3OWx1Ym53eDVmaTVucjJuYWZiOGY0ZGZ3YXRtIiwiXyI6MTc1ODYyMDY0NH0=
                          available:
                            type: boolean
                            example: true
                            default: true
                          ghaAddress:
                            type: string
                            example: 6, rue du Pav? Zone de Fret 6, BP 11546 95709 Roissy CDG
                - title: Route & Schedule
                  type: object
                  properties:
                    id:
                      type: string
                      example: e8f7d6f8-d00d-4fb5-8600-1d9e5a89677c
                    status:
                      type: string
                      example: COMPLETED
                    flights:
                      type: array
                      items:
                        type: object
                        properties:
                          flightUUID:
                            type: string
                            example: 57324f94-bbed-11f0-aa57-82c5a440dd41
                          airlineCode:
                            type: string
                            example: '00'
                          flightNumber:
                            type: string
                            example: 00768
                          arrivalTime:
                            type: string
                            example: '2025-11-10T06:00:00+08:00'
                          arrivalAirport:
                            type: string
                            example: SIN
                          departureTime:
                            type: string
                            example: '2025-11-09T18:00:00+01:00'
                          departureAirport:
                            type: string
                            example: CDG
                          latestAcceptanceTime:
                            type: string
                            example: '2025-11-09T13:00:00+01:00'
                          timeOfAvailability:
                            type: string
                            example: '2025-11-10T11:00:00+08:00'
                          legs:
                            type: array
                            items:
                              type: object
                              properties:
                                flightNumber:
                                  type: string
                                  example: 00768
                                arrivalTime:
                                  type: string
                                  example: '2025-11-10T06:00:00+08:00'
                                arrivalAirport:
                                  type: string
                                  example: SIN
                                departureTime:
                                  type: string
                                  example: '2025-11-09T18:00:00+01:00'
                                departureAirport:
                                  type: string
                                  example: CDG
                                bodyType:
                                  type: string
                                  example: Widebody
                                aircraftCode:
                                  type: string
                                  example: '777'
                                co2:
                                  type: object
                                  properties:
                                    value:
                                      type: number
                                      example: 268.7270446087906
                                      default: 0
                                    estimation:
                                      type: boolean
                                      example: false
                                      default: true
                          features:
                            type: object
                            properties: {}
                          available:
                            type: boolean
                            example: false
                            default: true
        '202':
          description: '202'
          content:
            application/json:
              examples:
                'Quote & Book: Intermediate Results':
                  value: "{\n    \"id\": \"e8f7d6f8-d00d-4fb5-8600-1d9e5a89677c\",\n    \"status\": \"\
                    STARTED\",\n    \"resultsURL\": \"https://app.dev.cargoai.co/forwarder/search/search-result?uuid=e8f7d6f8-d00d-4fb5-8600-1d9e5a89677c&auth={{auth_token}}\"\
                    ,\n    \"flights\": [\n        {\n            \"flightUUID\": \"57324f94-bbed-11f0-aa57-82c5a440dd41\"\
                    ,\n            \"airlineCode\": \"00\",\n            \"flightNumber\": \"00768\",\n\
                    \            \"arrivalTime\": \"2025-11-10T06:00:00+08:00\",\n            \"arrivalAirport\"\
                    : \"SIN\",\n            \"departureTime\": \"2025-11-09T18:00:00+01:00\",\n      \
                    \      \"departureAirport\": \"CDG\",\n            \"latestAcceptanceTime\": \"2025-11-09T13:00:00+01:00\"\
                    ,\n            \"timeOfAvailability\": \"2025-11-10T11:00:00+08:00\",\n          \
                    \  \"legs\": [\n                {\n                    \"flightNumber\": \"00768\"\
                    ,\n                    \"arrivalTime\": \"2025-11-10T06:00:00+08:00\",\n         \
                    \           \"arrivalAirport\": \"SIN\",\n                    \"departureTime\": \"\
                    2025-11-09T18:00:00+01:00\",\n                    \"departureAirport\": \"CDG\",\n\
                    \                    \"bodyType\": \"Widebody\",\n                    \"aircraftCode\"\
                    : \"777\",\n                    \"co2\": {\n                        \"value\": 268.7270446087906,\n\
                    \                        \"estimation\": false\n                    }\n          \
                    \      }\n            ],\n            \"features\": {\n                \"bookable\"\
                    : true,\n                \"awbOptional\": true\n            },\n            \"rates\"\
                    : [\n                {\n                    \"id\": \"57324f75-bbed-11f0-aa57-82c5a440dd41\"\
                    ,\n                    \"name\": \"Spot\",\n                    \"type\": \"live\"\
                    ,\n                    \"currency\": \"EUR\",\n                    \"netRate\": 6.08,\n\
                    \                    \"allInRate\": 6.23,\n                    \"total\": 1035.05,\n\
                    \                    \"minimumRate\": false,\n                    \"lastUpdatedDate\"\
                    : \"\",\n                    \"charges\": [\n                        {\n         \
                    \                   \"label\": \"Security surcharge\",\n                         \
                    \   \"rate\": 0.08,\n                            \"type\": \"GROSS_WEIGHT\",\n   \
                    \                         \"code\": \"ssc\",\n                            \"minAmount\"\
                    : 0.0,\n                            \"maxAmount\": 0.0\n                        },\n\
                    \                        {\n                            \"label\": \"Fuel surcharge\"\
                    ,\n                            \"rate\": 0.07,\n                            \"type\"\
                    : \"CHARGEABLE_WEIGHT\",\n                            \"code\": \"fsc\",\n       \
                    \                     \"minAmount\": 0.0,\n                            \"maxAmount\"\
                    : 0.0\n                        }\n                    ],\n                    \"ocdc\"\
                    : [],\n                    \"isSpotQuoteRate\": true,\n                    \"handlingCodes\"\
                    : [\n                        \"GCR\"\n                    ],\n                   \
                    \ \"bookingURL\": \"https://app.dev.cargoai.co/shipment-details/new?flightUUID=57324f94-bbed-11f0-aa57-82c5a440dd41&rateID=57324f75-bbed-11f0-aa57-82c5a440dd41&auth={{auth_token}}\"\
                    \n                }\n            ],\n            \"available\": true,\n          \
                    \  \"awbPrefixes\": [\n                \"000\"\n            ],\n            \"airlineConditions\"\
                    : \"\\n\\t1- Offer subject to capacity when booking.\\n\\t2- Quotation reference to\
                    \ be imperatively mentioned when booking.\\n\\t3- This quotation is valid for the\
                    \ packaging indicated only, in the event of modification, please make a new request\
                    \ to the sales department.\\n\\t4- Taxes (IRC – MYC – etc…) subject to change without\
                    \ notice.\\n\\t5- In the event of cancellation or no show, we reserve the right to\
                    \ pass on all or part of the costs\\n\\t- Cancellation 72 hours before the departure\
                    \ of the truck and/or the flight (working hours): invoicing 50% of the amount of the\
                    \ freight\\n\\t- Cancellation 48 hours before the departure of the truck and/or the\
                    \ flight (working hours): invoicing of 75% of the amount of the freight\\n\\t- Cancellation\
                    \ 24 hours before the departure of the truck and/or the flight (working hours): invoicing\
                    \ of 100% of the amount of the freight\\n\\t- In the case of a no show (no presentation\
                    \ of the freight): invoicing of 100% of the amount of the freight\\n\\t- In the case\
                    \ of a low show (discount less than 50% of the reserved taxable weight): invoicing\
                    \ of 75% of the reserved taxable weight\\n\",\n            \"handlingInfoLink\": \"\
                    https://www.cargoai.co/terms\",\n            \"ghaName\": \"Mocked GHA\",\n      \
                    \      \"hle\": \"19:00\",\n            \"ghaAddress\": \"Airport road, Cargo Terminal,\
                    \ Mocked Cargo building\"\n        },\n        {\n            \"flightUUID\": \"573250c6-bbed-11f0-aa57-82c5a440dd41\"\
                    ,\n            \"airlineCode\": \"00\",\n            \"flightNumber\": \"00768\",\n\
                    \            \"arrivalTime\": \"2025-11-11T23:00:01+08:00\",\n            \"arrivalAirport\"\
                    : \"SIN\",\n            \"departureTime\": \"2025-11-11T11:00:01+01:00\",\n      \
                    \      \"departureAirport\": \"CDG\",\n            \"latestAcceptanceTime\": \"2025-11-11T06:00:01+01:00\"\
                    ,\n            \"timeOfAvailability\": \"2025-11-12T04:00:01+08:00\",\n          \
                    \  \"legs\": [\n                {\n                    \"flightNumber\": \"00768\"\
                    ,\n                    \"arrivalTime\": \"2025-11-11T23:00:01+08:00\",\n         \
                    \           \"arrivalAirport\": \"SIN\",\n                    \"departureTime\": \"\
                    2025-11-11T11:00:01+01:00\",\n                    \"departureAirport\": \"CDG\",\n\
                    \                    \"bodyType\": \"Widebody\",\n                    \"aircraftCode\"\
                    : \"777\",\n                    \"co2\": {\n                        \"value\": 268.7270446087906,\n\
                    \                        \"estimation\": false\n                    }\n          \
                    \      }\n            ],\n            \"features\": {\n                \"bookable\"\
                    : true,\n                \"awbOptional\": true\n            },\n            \"rates\"\
                    : [\n                {\n                    \"id\": \"573250a7-bbed-11f0-aa57-82c5a440dd41\"\
                    ,\n                    \"name\": \"Spot\",\n                    \"type\": \"live\"\
                    ,\n                    \"currency\": \"EUR\",\n                    \"netRate\": 6.08,\n\
                    \                    \"allInRate\": 6.23,\n                    \"total\": 1035.05,\n\
                    \                    \"minimumRate\": false,\n                    \"lastUpdatedDate\"\
                    : \"\",\n                    \"charges\": [\n                        {\n         \
                    \                   \"label\": \"Fuel surcharge\",\n                            \"\
                    rate\": 0.07,\n                            \"type\": \"CHARGEABLE_WEIGHT\",\n    \
                    \                        \"code\": \"fsc\",\n                            \"minAmount\"\
                    : 0.0,\n                            \"maxAmount\": 0.0\n                        },\n\
                    \                        {\n                            \"label\": \"Security surcharge\"\
                    ,\n                            \"rate\": 0.08,\n                            \"type\"\
                    : \"GROSS_WEIGHT\",\n                            \"code\": \"ssc\",\n            \
                    \                \"minAmount\": 0.0,\n                            \"maxAmount\": 0.0\n\
                    \                        }\n                    ],\n                    \"ocdc\":\
                    \ [],\n                    \"isSpotQuoteRate\": true,\n                    \"handlingCodes\"\
                    : [\n                        \"GCR\"\n                    ],\n                   \
                    \ \"bookingURL\": \"https://app.dev.cargoai.co/shipment-details/new?flightUUID=573250c6-bbed-11f0-aa57-82c5a440dd41&rateID=573250a7-bbed-11f0-aa57-82c5a440dd41&auth={{auth_token}}\"\
                    \n                }\n            ],\n            \"available\": true,\n          \
                    \  \"awbPrefixes\": [\n                \"000\"\n            ],\n            \"airlineConditions\"\
                    : \"\\n\\t1- Offer subject to capacity when booking.\\n\\t2- Quotation reference to\
                    \ be imperatively mentioned when booking.\\n\\t3- This quotation is valid for the\
                    \ packaging indicated only, in the event of modification, please make a new request\
                    \ to the sales department.\\n\\t4- Taxes (IRC – MYC – etc…) subject to change without\
                    \ notice.\\n\\t5- In the event of cancellation or no show, we reserve the right to\
                    \ pass on all or part of the costs\\n\\t- Cancellation 72 hours before the departure\
                    \ of the truck and/or the flight (working hours): invoicing 50% of the amount of the\
                    \ freight\\n\\t- Cancellation 48 hours before the departure of the truck and/or the\
                    \ flight (working hours): invoicing of 75% of the amount of the freight\\n\\t- Cancellation\
                    \ 24 hours before the departure of the truck and/or the flight (working hours): invoicing\
                    \ of 100% of the amount of the freight\\n\\t- In the case of a no show (no presentation\
                    \ of the freight): invoicing of 100% of the amount of the freight\\n\\t- In the case\
                    \ of a low show (discount less than 50% of the reserved taxable weight): invoicing\
                    \ of 75% of the reserved taxable weight\\n\",\n            \"handlingInfoLink\": \"\
                    https://www.cargoai.co/terms\",\n            \"ghaName\": \"Mocked GHA\",\n      \
                    \      \"hle\": \"19:00\",\n            \"ghaAddress\": \"Airport road, Cargo Terminal,\
                    \ Mocked Cargo building\"\n        },\n        {\n            \"flightUUID\": \"572c628b-bbed-11f0-aa57-82c5a440dd41\"\
                    ,\n            \"airlineCode\": \"00\",\n            \"flightNumber\": \"00768-00687\"\
                    ,\n            \"arrivalTime\": \"2025-11-11T18:00:01+08:00\",\n            \"arrivalAirport\"\
                    : \"SIN\",\n            \"departureTime\": \"2025-11-10T13:00:01+01:00\",\n      \
[...]
